%section
  %h1 Evento lan party 2014
%section.fragments
  %p.name Inexus
  = image_tag "inexus.svg", class: "logo"
  %p.fragment.caption Organizando eventos desde 1999

%section
  %section
    %h2 Lan partys
    %ul
      %li
        Lanzarote LAN Party (2 ediciones) 2005,2007 (150 participantes)
      %li
        Zona Atlántico LAN Party (3 ediciones) 2002,2003,2004 (350 participantes)
      %li
        Las Palmas Party (5 ediciones) 2002,2003,2004,2005,2006 (500 participantes)
      %li
        Zona Atlántico Tenerife (1 edición) 2007 (400 participantes)
      %li
        %b Las Palmas LAN 2012
        (400 participantes)
  %section
    %h2 Otros eventos
    %ul
      %li
        Binter Canarias (de 2008 a 2010): Montaje de equipos de simulación para el evento
      %li
        “Turismo en Canarias”
      %li
        IVAO (2008): Montaje de equipos de simulación aeronáutica y torres de control virtuales.
      %li
        %b Planeta GC y Feria de actividades extraescolares (2005, 2006, 2012, 2013):
        Montaje de red y mantenimiento de PCs y consolas.
      %li
        Asesoramiento informático en el I Concurso de Creación de Videojuegos de Fundación IDEO (2004)
      %li
        Jornadas de ajedrez online, Campeonato Europeo (2005 y 2006): infraestructura, montaje y soporte.
      %li
        Montaje informático y contenidos para Asepeyo en diferentes eventos, gabinetes de prensa, etc.
      %li
        Planeta GC Tecnova (2012) Pabellon de videoconsolas, ordenadores y multimedia.

%section.fragments(data-transition="cube")
  %h2 Ultima Lan realizada
  %ul
    %li.fragment
      400 participantes
    %li.fragment
      Eventos paralelos:
      %ul
        %li.fragment
          Comic Can
        %li.fragment
          Airsoft
        %li.fragment
          Charlas emprendiduría digital
    %li.fragment
      Premios valorados en mas de 5000€
      .inline-images.fragment
        = image_tag "fondo2lan.jpg", class: "image"
        = image_tag "lantecno.jpg", class: "image"
        = image_tag "tintin.jpg", class: "image"
        = image_tag "consolas.jpg", class: "image"

%section
  %p.name Próxima lan party

%section.fragment
  %h2 ¿Hasta donde queremos llegar?
  %ul
    %li.fragment
      1000 participantes
    %li.fragment
      Charlas profesionales y de tecnología
    %li.fragment
      Feria de FX, cine fantastico y Sci-fi
    %li.fragment
      Premios valorados en mas de 14000€

%section
  %h2 ¿Quién nos apoya?
  .inline-images
    = image_tag "cabildo.png", class: "image"
    = image_tag "ulpgc.jpg", class: "image"
    = image_tag "eii.png", class: "image"
    = image_tag "qi.svg", class: "image"
    = image_tag "club3d.svg", class: "image"
    = image_tag "corsair.jpg", class: "image"
    = image_tag "d-link.jpg", class: "image"
    = image_tag "monster.svg", class: "image"

%section
  %p.name ¿Qué os parece?
