%section
  %h1 Evento lan party G.C. 2014
%section(data-background="#3060ff")
  %section.fragments
    %p.inexus-name Inexus
    = image_tag "inexus.jpg", class: "inexus-logo"
    %p.fragment.caption Organizando eventos desde 1999
  %section
    %h2 Nuestro curriculum
  %section
    %h3 Lan partys
    %ul
      %li Lanzarote LAN Party (2 ediciones) 2005,2007 (150 participantes)
      %li Zona Atlántico LAN Party (3 ediciones) 2002,2003,2004 (350 participantes)
      %li Las Palmas Party (5 ediciones) 2002,2003,2004,2005,2006 (500 participantes)
      %li
        %b Zona Atlántico Tenerife (1 edición) 2007 (400 participantes)
      %li Las Palmas LAN 2012 (400 participantes)
    .inline-images
      = image_tag "lan.ant.people.jpg", class: "miniature"
      = image_tag "lan.ant.montaje.jpg", class: "miniature"
      = image_tag "lan.ant.pc.jpg", class: "miniature"
  %section
    = image_tag "lan.ant.people.jpg"
  %section
    = image_tag "lan.ant.montaje.jpg"
  %section
    = image_tag "lan.ant.pc.jpg"
  %section
    %h3 Otros eventos
  %section
    %p Binter Canarias(2008-2010): Equipos de simulación
    = image_tag "binter.jpg"
  %section
    %p IVAO (2008): Equipos de simulación aeronáutica y torres de control virtuales.
    = image_tag "ivao.jpg"
  %section
    %p Asesoramiento informático en el I Concurso de Creación de Videojuegos de Fundación IDEO (2004)
    = image_tag "ideo.jpg"
  %section
    %p Jornadas de ajedrez online, Campeonato Europeo(2005-2006): infraestructura, montaje y soporte.
  %section
    %p “Turismo en Canarias”
  %section
    %p Montaje informático y contenidos para Asepeyo en diferentes eventos, gabinetes de prensa, etc.
    = image_tag "asepeyo.jpg"
  %section
    %p Animayo(2013): Montaje y mantenimiento de red, PCs y consolas
    = image_tag "animayo.jpg"
  %section
    %p Planeta GC y Feria de actividades(2005, 2006, 2012, 2013): Montaje y mantenimiento de red, PCs y consolas
    .inline-images
      = image_tag "pgc12.jpg", class: "miniature"
      = image_tag "pgc13.jpg", class: "miniature"
%section(data-background="#a52927")
  %section
    %h2 Ultima Lan realizada
  %section
    %p 400 participantes y mas de 1000 visitantes
    = image_tag "fondo2lan.jpg", class: "big-image"

  %section(data-transition="concave")
    %h3 Eventos paralelos
  %section(data-transition="concave")
    %p Comic Can
    = image_tag "lan.comic.jpg", class: "big-image"
  %section
    %p Recreacion Historica
    = image_tag "lan.recreacion.jpg", class: "big-image"
  %section
    %p Charlas emprendiduría digital y ocio
    = image_tag "charlas.jpg", class: "big-image"

  %section
    %p Premios valorados en mas de 5000€
    = image_tag "premios.jpg", class: "big-image"

  %section
    = image_tag "lantecno.jpg"
  %section
    = image_tag "lan.patrocinio.jpg"
  %section
    = image_tag "consolas.jpg"

%section(data-background="#0099cb")
  %section
    %h2 Tenerife Lan Party
  %section
    %p 6 dias con 1.600 participantes y 50.000 visitante
    = image_tag "tlp.people.jpg"
  %section
    %h3 Multiples areas de actividades
  %section
    %p E-Sports
    .inline-images
      = image_tag "tlp.lol.jpg", class: "image"
      = image_tag "tlp.competicion.jpg", class: "image"
  %section
    %p Formación
    = image_tag "tlp.formacion.jpg"
  %section
    %p Summer-Con
    .inline-images
      = image_tag "summer-con1.jpg", class: "image"
      = image_tag "summer-con2.jpg", class: "image"

  %section
    %ul
      %li.phrase 600.000€ de capital (mas del 40% es dinero público)
      %li.phrase Recinto ferial a coste cero
      %li.phrase Conexión directa al anillo urbano de fibra óptica

%section(data-background="#93c941")
  %section
    %h2 Próxima lan party
  %section
    %h3 Objetivos
    %ul
      %li.fragment.phrase2 1000 participantes
      %li.fragment.phrase2 Charlas profesionales y de tecnología EII
      %li.fragment.phrase2 Feria de FX, cine fantastico y Sci-fi
      %li.fragment.phrase2 Premios valorados en mas de 14000€
  %section
    %h3 ¿Como lo queremos hacer?
  %section
    = image_tag "mapa.jpg"
  %section
    %ul
      %li.phrases2 Personal: 23000€
      %li.phrases2 Infraestructura: 21100€
      %li.phrases2 Premios: 14000€
      %li.phrases2 Publicidad y diseño web: 3200€
      %li.phrases2 Ponentes: 8000€
      %li.phrases2 Actividades: 33700€



%section(data-background="#6ac4de")
  %section
    %h2 ¿Quién nos apoya?
  %section
    .inline-images
      = image_tag "ulpgc.jpg", class: "miniature"
      = image_tag "eii.png", class: "miniature"
      = image_tag "binary.png", class: "miniature"
      = image_tag "deii.jpg", class: "miniature"
      = image_tag "qi.svg", class: "miniature"
      = image_tag "1337.png", class: "miniature"
  %section
    .inline-images
      = image_tag "club3d.jpg", class: "miniature"
      = image_tag "asus.jpg", class: "miniature"
      = image_tag "d-link.jpg", class: "miniature"
      = image_tag "corsair.jpg", class: "miniature"
      = image_tag "monster.svg", class: "miniature"
      = image_tag "gigabyte.jpg", class: "miniature"
  %section
    %p.phrase Pero necesitamos vuestro apoyo

%section
  %h2 Ronda de preguntas
%section
  %p.inexus-name GRACIAS
  = image_tag "equipo.jpg", class: "big-image"
